/* CSS normalize */
:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--white-color);

  &:hover {
    color: red;
  }
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  padding: 3.2rem 0;
  background: url(../images/bg.jpg) no-repeat fixed center;
  background-size: cover;
}

.content {
  display: flex;
  width: 79.4rem;
  height: 112.3rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.content__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
  height: 100%;
  background: #414042;
  position: relative;
}
.content__right {
  display: flex;
  flex-direction: column;
  flex: 3;
  height: 100%;
  background: #fff;
}
.content__field {
  padding: 1.6rem 3.2rem;
}

.avatar {
  justify-content: center;
  align-items: center;
  padding: 1.6rem 0;
  img {
    height: 16rem;
    width: 12rem;
    /* object-fit: cover; */
  }
}
.name {
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
}
.position {
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.6rem 0;
  font-weight: 700;
}

.detail {
  position: absolute;
  bottom: 1.6rem;
}

.title {
  width: 100%;
  margin-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 700;
}
.text {
  color: var(--text-color);
}
.text-white {
  color: var(--white-color);
}

.list {
  font-size: 1.6rem;
  line-height: 1.8rem;
  list-style-position: outside;
  text-align: justify;
}
.item {
  padding: 0.4rem;
  margin-left: 1.6rem;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;
  color: var(--text-color);
}
.timeline__title {
  font-size: 1.6rem;
  font-weight: 700;
}
.timeline__period {
  font-size: 1.4rem;
}
